In [1]:
# ignore this cell - it makes the emphasized text red and uses the full width of the screen
from IPython.core.display import HTML
HTML('<style>em { color: red; }</style> <style>.container {width:100% !important; }</style>')

In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect("worksheet.db")

In [4]:
def qry(QUERRY):
    return pd.read_sql(QUERRY, conn)

In [23]:
pd.read_sql("SELECT * from sqlite_master", conn)

In [24]:
hydrants = qry("SELECT * FROM hydrants")
trees = qry("SELECT * FROM trees")
species = qry("SELECT * FROM species")

In [25]:
trees

  tree   x  y species  diameter  priority
0    A  10  4       m         8        71
1    B  20  4       m        10       100
2    C  30  4       p         6        30
3    D  40  4       p         8        40
4    E  50  4       m        12        99

### 1a. *Without* running this cell - *predict* the output of the following statement

In [7]:
# trees[trees["priority"] > 90][["x", "y"]]

### 1b. *Convert* the statement to an equivalent *SQL* querry.

----
### 2a. *Predict* the output of the following *SQL* querry

In [8]:
# qry("SELECT x+y FROM trees WHERE species = 'm'")

### 2b. *Convert* the querry into an equivalent *pandas* statement.

----
### 3a. *Predict* the output of the following *pandas* statements

In [9]:
# cd = species["code"][species["species"]=="maple"].iloc[0]
# trees[trees["species"] == cd]["tree"]

### 3b. *Convert* the statements into an equivalent *SQL* querry.

----
### 4a. *Predict* the output of the following querry

In [10]:
# qry("SELECT species FROM trees ORDER BY priority DESC")

### 4.b *Convert* the querry code to *Pandas*

----
### 5a. *Predict* the output of the following code

In [11]:
#list(qry("SELECT tree, priority FROM trees ORDER BY priority DESC LIMIT 1").iloc[0])

In [12]:
### 5.b *Convert* the above code to *Pandas*

----
### 6a. *Predict* the output of the following code

In [13]:
# qry("""SELECT COUNT(SPECIES) AS c1,
# COUNT(DISTINCT SPECIES) as c2
# FROM trees""")

### 6b. *Convert* the above code to *Pandas*

----
### 7a. *Predict* the output of the following code

In [14]:
# qry("""SELECT species, COUNT(SPECIES) AS count,
# AVG(diameter) AS size
# FROM trees
# GROUP BY species ORDER BY count DESC""")

### 7b. *Convert* the above code to *Pandas*

----
# Additional Exercises: 
### *Predict* the output of the following statements

In [15]:
# qry("SELECT color, year FROM hydrants WHERE color = 'blue' ")

In [16]:
# df = qry("SELECT color, year FROM hydrants")
# df[df.color == "blue"]

In [17]:
# qry("SELECT year FROM hydrants WHERE owner='private' AND active")

In [18]:
# df = qry("SELECT year, style, active FROM hydrants")
# df[df.active == 1]["style"]

In [19]:
# hydrants["color"].value_counts()

In [20]:
# qry("""SELECT color, COUNT(*) FROM hydrants
# WHERE active GROUP BY color""")

In [21]:
# qry("""SELECT color, COUNT(*) AS count FROM hydrants
# GROUP BY color HAVING count > 1""")

In [22]:
# qry("""SELECT color, COUNT(*) AS count
# FROM hydrants WHERE year >= 2000
# GROUP BY color HAVING count < 2""")